* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  background-color: #f2f7ff;
  font-family: "Arial", sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.container {
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  padding: 30px;
  text-align: center;
}

img {
  /* background-color: #007bff; */
  border-radius: 10px;
  width: 250px;
}

.qr-code {
  /* background-color: #fff; */
  margin-bottom: 15px;
}

.text {
  line-height: 1.5;
  max-width: 280px;
}
